.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fae7ee;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.navList {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 1rem 0;
}

.navItem {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--text);
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: #450601;
}

.active {
  color: #450601;
}

.underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: #450601;
}
.menuButton {
  display: none; /* Ocultar el botón por defecto */
  font-size: 2rem;
  
  
  cursor: pointer;
  color: #450601;
}
@media (max-width: 768px) {
  .navList {
    flex-wrap: wrap;
  }

  .navItem {
    margin: 0.5rem;
    font-size: 0.9rem;
  }
  
  
  
  /* Mostrar el botón en pantallas pequeñas */
  @media (max-width: 624px) {
    .menuButton {
      display: block;
      
    }
  
    .navList {
      display: none; /* Ocultar el menú por defecto */
      flex-direction: column; /* Cambiar a columna */
      position: absolute; /* Posicionar el menú */
      top: 48px; /* Ajustar según la altura del header */
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.9); /* Fondo del menú */
      z-index: 999; /* Asegurarse de que esté por encima */
      
    }
    
    .navList.open {
      display: flex; /* Mostrar el menú cuando está abierto */
    }
  
    .navItem {
      margin: 0.4rem 0; /* Espaciado vertical */
    }
  }
}