.testimonios {
  padding: 5rem 0;
  background: #1b2e3c;
}

.title {
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: aliceblue;
  font-size:40px; font-weight:700;  
  text-transform:uppercase; width:100%;  
  
}

.testimonioContainer {
  max-width: 600px;
  margin: 0 auto;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f3e3e2;
}

.testimonio {
  text-align: center;
}

.texto {
  font-style: italic;
  margin-bottom: 0.8rem;
}

.nombre {
  font-weight: bold;
}

